@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap');
body {
	background-color: #333333;
	padding: 0;
	margin: 0;
}
.canv {
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
	z-index: -2;
}
.vinett {
	background: radial-gradient(rgba(0,0,0,0) 60%, rgba(0,0,0,0.7));
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	z-index: -1;
}
.container {
	width: 80%;
	margin: auto;
}
.outerList {
	margin: 0; padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	position: relative;
	height: 50vh;
}
.list {
	display: block;
	background-color: rgba(0,0,0,0.2);
	backdrop-filter: blur(5px);
	/*background: linear-gradient(115deg, #ffffff 35%, #323232 35.3%);*/
	width: 90%;
	min-height: 40vh;
	border-radius: 20px;
	transition: 0.2s;
	overflow: hidden;
	margin: 5px 0;
	flex-shrink: 1;
	position: absolute;
	border-left: 0.5rem solid;
	border-color: #000000;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	z-index: -10;
}
.list h1 {
	position: absolute;
	left: 5%; bottom: 5%;
	z-index: 2;
	font-size: 2rem;
	font-family: 'Georama', sans-serif;
	color: rgba(255,255,255,0.9);
	text-shadow: 2px 2px 5px black;
}
.list:hover {
	/*background: linear-gradient(115deg, #ffffff 60%, #323232 60.3%);*/
	cursor: pointer;
	backdrop-filter: blur(2px);
}
.colZone {
	width: 100%;
	height: 50vh;
	position: relative;
	overflow: hidden;
	transform: skew(25deg) translateX(25%);
	transition: 0.3s;
	border-left: 0 solid;
	border-color: inherit;
}
.colZone:hover {
	border-width: 1rem;
}
.colZone:active {
	transition: 0.1s;
	border-width: 4rem;
}
.backImg {
	background-image: url('../img/orbitSimulator.jpg');
	background-size: cover;
	transform: skew(-25deg) translateX(-10%) scale(1.1);
	opacity: 1;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	transition: 0.3s;
	animation-name: pulse;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}
.button {
	/*background-color: rgba(173,29,0,0.7);*/
	/*border: 0.2rem solid rgba(173,29,0,0.7);*/
	backdrop-filter: blur(2px);
	margin: 0; padding: 0;
	width: 7vh;
	height: 7vh;
	border-radius: 100%;
	margin: 5vh 0;
	transition: 0.4s;
	font-size: 2.5vh;
	color: rgb(0,0,0);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 0;
	flex-shrink: 0;
	color: rgba(255,255,255,.7);
	user-select: none;
	-moz-user-select: none; /* Mozilla Firefox */
	-ms-user-select: none; /* Internet Explorer (не поддерживается) */
	-o-user-select: none; /* Opera Presto (не поддерживается) */
	-webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
}
.button:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.button:active {
	transition: 0.1s;
	transform: scale(0.95);
}
.about {

}
.innerAbout {
	color: white;
	text-align: center;
	font-family: arial;
}
.gallery {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.galleryStatusPoints {
	text-align: center;
}
.points {
	display: inline-block;
	border-color: black;
	margin: 1rem;
	cursor: default;
}
.point {
	display: inline-block;
	border: 2px solid;
	border-radius: 100%;
	border-color: white;
	width: 13px; 
	height: 13px;
	margin: 0 0.2rem;
	flex-shrink: 0;
	transition: background 0.3s;
	padding: 0;
	cursor: pointer;
}
.point:hover {
	transform: scale(1.1);
}
.colorGradient {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	z-index: 1;
	opacity: 0.3;
	background: linear-gradient(90deg, #4A4CA3 10%, rgba(0,0,0,0) 70%);
}
.screen {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100wh;
	height: 100svh;
}

@keyframes pulse {
	from {
		transform: skew(-25deg) translateX(-15%) scale(1.1) rotate(-1.5deg);
	}
	to {
		transform: skew(-25deg) translateX(-15%) scale(1.0);
	}
}

@keyframes glide {
	from {
		border-left: #333333 solid 300px;
	}
	to {
		transform: skew(25deg) translateX(25%);
	}
}

@keyframes hideLeft {
	from {
		opacity: 1;
	}
	to {
		transform: translateX(-30%) scale(0.8);
		opacity: 0;
	}
}

@keyframes hideRight {
	from {
		opacity: 1;
	}
	to {
		transform: translateX(30%) scale(0.8);
		opacity: 0;
	}
}

@keyframes showRight{
	from {
		opacity: 0;
		transform:  translateX(-30%) scale(0.8);
	}
	to {
		opacity: 1;
	}
}

@keyframes showLeft {
	from {
		opacity: 0;
		transform:  translateX(30%) scale(0.8);
	}
	to {
		opacity: 1;
	}
}